arandr==0.1.9
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
certifi==2018.1.18
cffi==1.12.3
chardet==3.0.4
cryptography==2.1.4
cycler==0.10.0
decorator==4.4.0
Django==1.11.20
django-extensions==1.6.7
django-filter==1.1.0
django-filters==0.2.1
django-jsonfield==1.2.0
djangorestframework==3.9.4
djangorestframework-filters==0.11.1
enum34==1.1.6
idna==2.6
ipaddr==2.2.0
ipaddress==1.0.17
jsonfield==2.0.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
libvirt-python==4.0.0
matplotlib==2.2.4
networkx==2.2
numpy==1.16.3
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pygobject==3.26.1
pyOpenSSL==17.5.0
pyparsing==2.4.0
PySide==1.2.2
python-dateutil==2.8.0
pytz==2019.1
pyxdg==0.25
requests==2.18.4
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
SoundFile==0.10.2
subprocess32==3.5.3
urllib3==1.22
xmltodict==0.11.0
